body {
    padding: 5px;
    font-family: Montserrat, sans-serif;
    background-color: transparent; /* Default for mobile */
}

@media (min-width: 950px) {
    body {
        background-image: url(/Musket/image/body/picture2.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
/* ----------------------------------- */
/* navigation menu for desktop */
.desktop-navigation {
    display: grid;
    grid-template-columns: 1fr 3fr; /* Left column for logo, right for content */
    grid-template-rows: 2fr 1fr; /* Right sections stacked */
    gap: 1px;
    max-width: 1480px;
    margin: 0 auto;
}

.Logo-section {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1;
    grid-row: 1 / span 2;
}

.logo img {
    max-height: 100px;
    margin-right: 10px;
}

.language-donate-section {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.language-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.languages {
    display: flex;
    gap: 5px;
}

.languages a {
    text-decoration: none;
    color: #2d2d2d;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.languages a:hover {
    text-decoration: underline;
}

.donate-button {
    border-radius: 4px;
    color: #fff; /* Text color for readability */
    font-size: 19px;
    padding: 10px 20px;
    text-decoration: none;
    background-image:
        radial-gradient(ellipse farthest-corner at right bottom, #0F8A8C 0%, #0F8A8C 8%, #0F8A8C 30%, #0F8A8C 40%, transparent 80%),
        radial-gradient(ellipse farthest-corner at left top, #032E3B 8%, #032E3B 25%, #032E3B 62.5%, #0F8A8C 100%);
    background-size: cover; /* Ensures the gradient covers the button */
    background-repeat: no-repeat; /* Avoids repeating the gradient */
    border: none; /* Removes default border */
    cursor: pointer; /* Changes cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.donate-button:hover {
    opacity: 0.9;
}

.menu-section {
    grid-column: 2;
    grid-row: 2;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
    position: relative;
}

.nav-links a {
    text-decoration: none;
    color: #2d2d2d;
    font-size: 18px;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
    color: #555;
}

html[lang="ru"] .nav-links a {
    font-size: 14px;
}

.columns-container {
    display: flex;
}
html[lang="ar"] .columns-container,
html[lang="ar"] .mobile-menu {
    direction: rtl;
    text-align: right;
}
.column {
    flex: 1;
    background-color: #f9f9f9;
    padding: 10px;
    min-height: 50px;
    display: none;
}

.sub-options-box {
    display: none;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    position: absolute;
    z-index: 1;
    left: 13px;
    right: 13px;
    z-index: 2;
}

.sub-options {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mini-options {
    list-style: none;
    margin: 0;
    padding: 6px;
}

.sub-options li {
    margin-bottom: 20px;
    position: relative;
}

.sub-options li a {
    text-decoration: none;
    color: #2d2d2d;
    font-size: 17px;
    font-weight: bold;
}

.sub-options li a:hover, .image-column .image-item .arrow:hover {
    text-decoration: underline;
}

.mini-options li {
    margin-bottom: 5px;
    padding-left: 20px;
    padding-top: 6px;
}

.mini-options li a {
    text-decoration: none;
    color: #555;
}

.mini-options li a:hover {
    text-decoration: underline;
}

/* Styling for pictures in column 3 */
.image-column {
    display: flex;
    gap: 20px; /* Space between images */
    justify-content: space-between; /* Ensures equal spacing */
}

.image-column .image-item {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-column .image-item img {
    width: 200px;
    height: 200px; /* Ensure images are the same height */
    max-width: 100%;
    object-fit: cover; /* Ensures images cover the area without distorting */
    border-radius: 8px;
}

.image-column .image-item .arrow {
    display: block;
    margin-top: 10px;
    color: #333;
    font-size: 16px;
    text-align: center; /* Center the text under the image */
}
.image-item a {
    text-decoration: none;
    color: #2d2d2d;
    font-size: 17px;
    font-weight: bold;
}
@media (max-width: 768px) {
    .desktop-navigation {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    .language-section {
        flex-direction: column;
        align-items: flex-start;
    }

    .languages, .donate-button {
        margin-bottom: 10px;
    }
}
/* ------------------------------------ */
/* Mobile Navigation */
.mobile-navigation {
    display: none; /* Hidden by default; shown on smaller screens */
}

.mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.mobile-logo img {
    max-height: 50px;
}

.hamburger-menu {
    font-size: 24px;
    cursor: pointer;
    user-select: none;
}

.mobile-menu {
    display: none;
    flex-direction: column;
    background-color: #f9f9f9;
    position: absolute;
    right: 13px;
    left: 13px;
    z-index: 100;
    border-top: 1px solid #ccc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-menu li {
    border-bottom: 1px solid #ccc;
}

.mobile-menu a {
    display: flex; /* Flexbox to align items */
    justify-content: space-between; /* Text on the left, arrow on the right */
    align-items: center; /* Vertical alignment */
    text-decoration: none;
    color: #333;
    padding: 15px 20px; /* Add padding for spacing */
    font-size: 18px;
}

.mobile-menu a:hover {
    background-color: #e0e0e0;
}

.mobile-menu .arrow {
    font-size: 18px; /* Match the font size with menu items */
    color: #666;
}

/* Sub-options styling */
.mobile-menu .mobile-sub-options {
    display: none;
    padding-left: 20px;
    background-color: #f7f7f7;
}

.mobile-menu .mobile-sub-options a {
    display: flex; /* Maintain flex layout */
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 16px;
}

/* Child options styling */
.mobile-menu .mobile-child-options {
    display: none;
    padding-left: 40px;
    background-color: #f0f0f0;
}

.mobile-menu .mobile-child-options a {
    display: flex; /* Maintain flex layout */
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    font-size: 14px;
}

/* Open states for sub-options and child-options */
.mobile-menu .open > .mobile-sub-options {
    display: block;
}

.mobile-menu .open .mobile-sub-options .open > .mobile-child-options {
    display: block;
}

@media (max-width: 950px) {
    .desktop-navigation, .sub-options-box{
        display: none;
    }

    .mobile-navigation {
        display: block;
    }

}
.phone-language-menu {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none; /* Hidden by default for larger screens */
    z-index: 3;
}

.menu-icon {
    width: 50px;
    height: 50px;
    background-image:
        radial-gradient(ellipse farthest-corner at right bottom, #0F8A8C 0%, #0F8A8C 8%, #0F8A8C 30%, #0F8A8C 40%, transparent 80%),
        radial-gradient(ellipse farthest-corner at left top, #032E3B 8%, #032E3B 25%, #032E3B 62.5%, #0F8A8C 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 40%;
}

.menu-icon div {
    width: 30px;
    height: 4px;
    background-color: goldenrod;
    margin: 4px 0;
    transition: transform 0.3s ease;
}

.menu-options {
    position: absolute;
    bottom: 70px;
    right: 0;
    display: none;
    backdrop-filter: blur(10px); /* Adds blur effect */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background-color: gainsboro;
}

.menu-options.show {
    display: block;
}

.menu-options > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-options > ul > li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    color: black;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.menu-options > ul > li .flag-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
    cursor: pointer; /* Make the flag image clickable */
}

/* For the icon animation when clicked */
.menu-icon.open div:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.menu-icon.open div:nth-child(2) {
    opacity: 0;
}

.menu-icon.open div:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* Show the menu only in phone mode */
@media (max-width: 950px) {
    .phone-language-menu {
        display: block; /* Display menu on smaller screens */
    }
}
/* ------------------------------------------------- */
/*Donation button on phone */
/* Donate Button (Initially Hidden) */
.mobile-donate-btn {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    display: none; /* Initially hidden */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 4px;
    color: #fff;
    font-size: 19px;
    padding: 10px 20px;
    text-decoration: none;
    background-image: radial-gradient(ellipse farthest-corner at right bottom, #0F8A8C 0%, #0F8A8C 8%, #0F8A8C 30%, #0F8A8C 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #032E3B 8%, #032E3B 25%, #032E3B 62.5%, #0F8A8C 100%);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    transition: background-color 0.3sease;
    background: radial-gradient(ellipse farthest-corner at right bottom, #B77A2F 0%, #B77A2F 4%, #DEB34F 30%, #DEB34F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #B77A2F 4%, #DEB34F 25%, #DEB34F 62.5%, #B77A2F 100%);
    background-size: 184%;
    -webkit-text-fill-color: #ecf0f1;
    animation: goldShimmer 3s infinite;
}

/* Show Donate Button */
.mobile-donate-btn.active {
    display: block;
    opacity: 1;
}
/* --------------------------------------------- */
/* slider Animation */
.slider-section {
    display: flex;
    align-items: center;

}

.slider {
    width: 80%;
    max-width: 600px;
    position: relative;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 10px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    position: relative;
}

.slide img {
    width: 100%;
    display: block;
}

.title {
    position: absolute;
    bottom: 60px; /* Adjusted the title position */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 5px;
}

.w-slider-nav {
    text-align: center;
    position: absolute;
    bottom: 20px; /* Adjusted position of dots */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.w-slider-dot {
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    color: white;
    font-size: 12px;
    transition: background-color 0.3s;
}

.w-slider-dot.w-active {
    background-color: #fff;
    color: #000;
}

.slider-section button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
}

.slider-section .prev {
    left: 10px;
}

.slider-section .next {
    right: 10px;
}
/* ---------------------------------------------- */
/* Main image */
.image-container {
    position: relative;
    /*width: 80%; /* You can adjust the box size here */
    height: 70vh; /* Adjust height as needed */
    margin: 0 auto; /* Center the box horizontally */
    overflow: hidden; /* Hide anything overflowing from the box */
    border: 2px solid #ccc; /* Optional border for visual effect */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/Musket/image/body/main-image.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    line-height: 1.2em;
    font-weight: bold;
    text-align: center;
}
@media (min-width: 540px) {
    .slider {
        width: 30%; /* Display menu on smaller screens */
    }
}
@media (max-width: 500px) {
    .slider {
        width: 50%; /* Display menu on smaller screens */
    }
    .mobile-donate-sticky {
        display: flex; /* Make the container visible on small screens */
    }
}
@media (max-width: 950px) {
    .mobile-donate-sticky {
        display: flex; /* Make the container visible on small screens */
    }
}
/* For screens between 0px and 400px */
@media screen and (max-width: 431px) {
    .centered-text {
        font-size: 24px;
    }
    .image-container{
        height: 24vh;  
    }
    #prayer-cards-container {
        flex-wrap: wrap;
    }
}
@media screen and (min-width: 432px) and (max-width: 950px) {
    .centered-text {
        font-size: 31px;
    }
    .image-container{
        height: 35vh;  
    }
}
/* --------------------------------------------------- */
/* Praying time style */
.prayer-header {
    display: flex;
    justify-content: space-between; /* Ensures the elements are placed at opposite ends */
    align-items: center; /* Aligns items vertically in the center */
    padding: 5px; /* Adds some padding for spacing */
}
.prayertimes-card{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 860px;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.Location {
    font-size: 18px; /* Adjust font size as needed */
    font-weight: bold; /* Makes the text bold */
}

.sub-header {
    font-size: 18px;
    color: black;
    text-align: right;
}

#prayer-cards-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 0 auto;
}
.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 120px;
    text-align: center;
    padding: 15px;
    font-size: 16px;
    position: relative;
    color: #333;
}
.card.highlight {
    border: 2px solid #DEB34F;
    background-size: cover;
    background-position: center;
    color: #fff;
}
.card.highlight .header, .card.highlight .time, .card.highlight .countdown {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}
.card .header {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}
.card .time {
    font-size: 20px;
    font-weight: bold;
}
.countdown {
    font-size: 24px;
    font-weight: bold;
}
/* -------------------------------- */
/* Footer style */
.footer {
    background-image: radial-gradient(ellipse farthest-corner at right bottom, #0F8A8C 0%, #0F8A8C 8%, #0F8A8C 30%, #0F8A8C 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #032E3B 8%, #032E3B 25%, #032E3B 62.5%, #0F8A8C 100%);
    color: #ecf0f1;
    padding: 20px 0;
}
.footer-container {
    max-width: 1350px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 0 15px;
}
.footer-column,
.footer-logo {
    flex: 1;
    text-align: center;
    margin: 10px;
}
.footer-logo img {
    max-width: 150px;
    height: auto;
}
.footer-column h3 {
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.footer-column ul {
    list-style: none;
    padding: 0;
}
.footer-column ul li {
    margin-bottom: 10px;
}
.footer-column ul li a {
    color: #bdc3c7;
    text-decoration: none;
    transition: color 0.3s;
}
.footer-column ul li a:hover {
    color: #ecf0f1;
}
.footer-social {
    display: flex;
    justify-content: center;
    gap: 15px;
}
.footer-social a {
    color: #bdc3c7;
    font-size: 20px;
    transition: color 0.3s;
}
.footer-social a:hover {
    color: #ecf0f1;
}
.footer-bottom {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}
.footer-bottom a {
    text-align: center;
    font-size: 14px;
    color:white;
}
.map-container{
    allowfullscreen="";
    loading="lazy";
    referrerpolicy="no-referrer-when-downgrade";
}
@media (max-width: 768px) {
    .footer-container {
        flex-wrap: wrap;
    }
    .footer-column,
    .footer-logo {
        flex: 1 1 100%;
        margin: 15px 0;
    }
}
/* ------------------------------------------------ */
