.subject {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subject-title {
    position: absolute;
    left: 0;
    top: 62%;
    width: 200px;
    text-align: end;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border-bottom: 3px solid #0F8A8C;
    /* Apply animation */
    opacity: 0; /* Start hidden */
    animation: fadeInLeft 2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}
@supports (-webkit-backdrop-filter: blur(0)) {
    .subject-title {
        animation: fadeInLeft 2s cubic-bezier(0.25, 1, 0.5, 1) forwards; /* Slightly slower for Safari */
    }
}

/* Keyframes for fade-in from the left */
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@media (max-width: 440px) {
    .subject-title {
        width: 190px;
    }
}
html[lang="pl"]  .subject-title,
html[lang="en"]  .subject-title,
html[lang="ar"]  .subject-title,
html[lang="ru"]  .subject-title,
{
    width: 190px;
}
#subject-about-us .subject-title {
    width: 80px;
}
.subject-title h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.subject-content {
    margin: 20px;
    text-align: center;
    padding: 21px;
    border: 1px solid white;
    border-radius: 17px;
    background-color: white;
}

.subject-content h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.subject-content p, 
.subject-content h3,
.subject-content .bullet-list {
    font-size: 16px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}
html[lang="ar"]  .subject-content p, 
html[lang="ar"]  .subject-content h3,
html[lang="ar"]  .subject-content .bullet-list {
    text-align: right;
    right: 10px;
    left: 0px;
}
html[lang="ar"]  .subject-content .bullet {
    padding-left: 10px;
}

html[lang="ar"]  .subject-content .bullet-list ul {
    direction: rtl;
    text-align: right;
}

.subject-content h2 {
    text-align: center;
}

.subject-content .bullet-list {
    font-size: 16px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    left: 30px;
    position: relative;
}

.subject-content .bullet-list p {
    display: flex;
    align-items: center;
    font-size: 16px;
}
.bullet-list ul {
    list-style: circle;
}
html[lang="ar"]  .subject-content .bullet-list p {
    font-size: 16px;
    display: flow;
    margin-bottom: 7px;
}
.subject-content .bullet {
    padding-right: 10px; /* Space between bullet and text */
    display: inline-block;
}
#subject-about-us {
    background-image: url(/Musket/image/body/about-us.jpeg);
}
#subject-visit-us {
    background-image: url(/Musket/image/body/visit-us.jpg);
}
#subject-education {
    background-image: url(/Musket/image/body/education.jpg);
}
#subject-muslim {
    background-image: url(/Musket/image/body/muslim.jpg);
}
